*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #5f42aa;
  --link-color: var(--accent-color);
}

body {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  background-color: #f1f5f9;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  color: #121212;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
}

p {
  margin: 0 0 1rem 0;
}

a,
a:visited {
  color: var(--link-color);
}
