---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = 'Tag Index';
const allPosts = await Astro.glob('../posts/*.md');
const allTags = allPosts.map(post => post.frontmatter.tags).filter(Boolean).flat();
const uniqueTags = [...new Set(allTags)];
---

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  a.tag {
    margin: 0.25rem;
    border: 1px solid #a1a1a1;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.15Rem;
    background-color: #F8FCFD;
    text-decoration: none;
    color: #00539F;
  }

  a.tag:hover {
    background-color: #E8F0F3;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      uniqueTags.map(tag => {
        return (
          <a class="tag" href={`/tags/${tag}`}>
            {tag}
          </a>
        );
      })
    }
  </div>
</BaseLayout>
