---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Blog';
const allPosts = await Astro.glob('./posts/*.md');
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Posts</h2>
  <ul>
    {
      allPosts.map(post => {
        return (
          <li>
            <a class="post" href={post.url}>{post.frontmatter.title}</a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
