---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Blog';
const posts = await Astro.glob('./posts/*.md');
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      posts.map(p => {
        return (
          <li>
            <a class="post" href={p.url}>{p.frontmatter.title}</a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
